/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
body{
    margin:0!important;
    padding: 0!important;
    background-color:#1B2631; // page background color change from here -- Sagar
  }
  .pin_style{
    font-family: 'Open Sans', sans-serif!important;
    font-size:11px!important;
    color: whitesmoke; /// SAGAR
  }
  /* width */
// ::-webkit-scrollbar, ::-moz-scrollbar {  
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track, ::-moz-scrollbar-track {
//   box-shadow: inset 0 0 5px grey; 
//   border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb, ::-moz-scrollbar-thumb {
//   background: #000000; 
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover, ::-moz-scrollbar-thumb:hover {
//   background: #000000; 
// }

.graticule {
  fill: none;
  // stroke: #777;
}

.boundary {
  fill: #ccc;
  fill-opacity: .8;
  stroke: #000;
}